<style>
    /* Stil für den Team-Bereich */
    #team {
        display: flex;
        flex-direction: column;
        gap: 20px; /* Abstand zwischen den einzelnen div-Elementen */
    }

    /* Stil für jedes Teammitglied */
    .team-member {
        display: flex;
        align-items: center; /* Zentrieren der Inhalte vertikal */
    }

    .team-member h2 {
        margin-bottom: 5px; /* Abstand unterhalb des Namens */
    }

    .team-member img {
        height: 100px;
        margin-right: 10px; /* Abstand zwischen Bild und Text */
    }
</style>

<div id="team">
    <div class="team-member">
        <img src="https://www.shutterstock.com/image-vector/default-avatar-photo-placeholder-grey-260nw-2007531518.jpg">
        <div>
            <h2><strong>D</strong>aniel Jakob</h2>
            <p>Gesellschafter, Geschäftsführer</p>
        </div>
    </div>

    <div class="team-member">
        <img src="https://www.shutterstock.com/image-vector/default-avatar-photo-placeholder-grey-260nw-2007531518.jpg">
        <div>
            <h2><strong>D</strong>avid Wagner</h2>
            <p>Gesellschafter, Frontend-Dev</p>
        </div>
    </div>

    <div class="team-member">
        <img src="https://www.shutterstock.com/image-vector/default-avatar-photo-placeholder-grey-260nw-2007531518.jpg">
        <div>
            <h2><strong>M</strong>ichael Selbertinger</h2>
            <p>Gesellschafter, Backend-Dev</p>
        </div>
    </div>
</div>
