<div id="karriere">
    <h2>Karriere</h2>
    <p>
        Entdecke deine Karriere bei uns! Wir bieten spannende Möglichkeiten für talentierte und motivierte Menschen,
        die ihre berufliche Reise mit uns antreten möchten. Ob du gerade erst deine Karriere startest oder bereits
        Erfahrung mitbringst, bei uns findest du ein inspirierendes Umfeld, in dem du dein Potenzial entfalten kannst.
        Wir fördern individuelles Wachstum, bieten Weiterbildungsmöglichkeiten und schaffen Raum für Kreativität und
        Innovation. Werde Teil unseres Teams und gestalte mit uns die Zukunft – gemeinsam erreichen wir Großes!</p>
    <p>
    <h3>Jobs</h3>
    <p><strong> Softwareentwickler (m/w/d) </strong>

        Wir suchen nach leidenschaftlichen Softwareentwicklern wie dir, die sich unserem agilen Entwicklungsteam
        anschließen möchten. Du wirst an der Entwicklung hochwertiger Softwarelösungen für unsere innovativen Produkte
        arbeiten. Erfahrung mit modernen Technologien wie JavaScript, Angular, Node.js und ChromaDB ist von Vorteil.
        Wenn du gerne in einem dynamischen Umfeld arbeitest und Lust hast, Teil eines schnell wachsenden Startups zu
        sein, bewirb dich noch heute!
        <br><br>
</div>