<footer>
    <div class="footer-col">
        <h4>Leistungen</h4>
        <ul>
            <li><a routerLink="/beratung">Beratung</a></li>
            <li><a routerLink="/einrichtung">Einrichtung</a></li>
            <li><a routerLink="/wartung">Wartung</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Unternehmen</h4>
        <ul>
            <li><a routerLink="/team">Team</a></li>
            <li><a routerLink="/karriere">Karriere</a></li>
            <li><a routerLink="/geschichte">Geschichte</a></li>
        </ul>
    </div>

    <div class="footer-col">
        <h4>Rechtliches</h4>
        <ul>
            <li><a routerLink="/impressum">Impressum</a></li>
            <li><a routerLink="/agb">AGB</a></li>
            <li><a routerLink="/datenschutz">Datenschutz</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Socials</h4>
        <div class="links">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://x.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        </div>
    </div>

    <p id="copyright">Copyright © 2024 DDM</p>
</footer>