#contact {
    text-align: center;
    padding: 70px;
    margin: 70px;
    font-size: 20px;
    color: var(--font-color);

}

.contactList {

    padding: 20px;
    display: inline-block;
}

.contactList h4 {
    margin-top: 0;
}

.contactList div {
    margin-top: 10px;
}

.contactList p {
    margin: 5px 0;
}

@media only screen and (max-width: 740px) {
    #contact {
        margin: auto;
    }
}