<div class="chatbot-services">
    <div class="service">
        <h2>Beratung</h2><br>

        <p class="service-description">Wir kümmern uns auch in Zukunft um den Chatbot und erweitern seine Funktionen bei
            Bedarf. Dazu gehören regelmäßige Updates, um die Leistung und Benutzerfreundlichkeit zu verbessern, sowie
            die Integration neuer Technologien und Funktionen, um den sich ändernden Anforderungen unserer Nutzer
            gerecht zu werden. <br><br> Wir sind bestrebt, kontinuierlich auf das Feedback unserer Nutzer einzugehen und den
            Chatbot so anzupassen, dass er stets den höchsten Standards entspricht. So gewährleisten wir, dass der
            Chatbot immer eine nützliche und effektive Unterstützung bietet!</p>
    </div>