<div id="geschichte">
    <h2>Unsere Geschichte</h2><br>

    <h4>Anfang 2024</h4>
    <p>DDM startete mit der Vision, einen ChatBot zu entwickeln, der speziell Schüler im Fach Datenverarbeitung (DV)
        beim Lernen unterstützt, aber gleichzeitig flexibel genug ist, um auf andere Themen ausgeweitet werden zu
        können. Aufbauend auf modernen Technologien wie Angular und Flask, schufen wir einen intelligenten ChatBot, der
        mit den Lehrinhalten des DV-Unterrichts angereichert wurde. Dieser ChatBot kann dadurch kontextabhängige und
        präzise Antworten auf Fragen der Schüler geben und ihre Lernprozesse effektiv begleiten. Unsere Lösung vereint
        fortschrittliche Technik mit pädagogischem Mehrwert, um Schülern eine innovative und interaktive Lernhilfe zu
        bieten.</p>

</div>