<div class="chatbot-services">
    <h2>Einrichtung</h2><br>
    <p class="service-description">
        Wir richten den ChatBot für Sie ein und konfigurieren ihn so, dass Sie direkt loslegen können. Unser umfassender
        Service umfasst die Installation, Anpassung und Feinabstimmung des ChatBots, um sicherzustellen, dass er Ihren
        spezifischen Anforderungen entspricht.
    </p>
    <p class="service-description">
        Wir bieten:
    </p>
    <ul class="service-description">
        <li>
            <strong>Initiale Einrichtung:</strong> Wir kümmern uns um die komplette Installation des ChatBots auf Ihrer
            bevorzugten Plattform, sodass Sie sich keine Gedanken über technische Details machen müssen.
        </li>
        <li>
            <strong>Anpassung und Konfiguration:</strong> Unsere Experten passen den ChatBot individuell an Ihre
            Bedürfnisse an, einschließlich der Integration zusätzlicher Themengebiete und spezifischer Funktionen, die
            für Ihre Schüler relevant sind.
        </li>
        <li>
            <strong>Datenintegration:</strong> Wir laden die erforderlichen Lehrinhalte und Daten in den ChatBot, damit
            er sofort kontextabhängige und präzise Antworten liefern kann.
        </li>


        <li>
            <strong>Schulung und Support:</strong> Nach der Einrichtung bieten wir Schulungen an, um Ihnen und Ihrem
            Team den Umgang mit dem ChatBot zu erleichtern. Zusätzlich stehen wir Ihnen für kontinuierlichen Support zur
            Verfügung, um sicherzustellen, dass alles reibungslos läuft.
        </li>
    </ul>
    <p class="service-description">
        Mit unserem Rundum-Service stellen wir sicher, dass Ihr ChatBot einsatzbereit ist und Ihnen dabei hilft, die
        Lernprozesse Ihrer Schüler effektiv zu unterstützen. Lassen Sie uns gemeinsam die optimale Lösung für Ihre
        Bedürfnisse entwickeln!
    </p>
</div>