<div class="chatbot-services">
    <div class="service">
        <h2>Beratung</h2><br>

        <p class="service-description">Wir beraten Sie gerne dabei, den ChatBot genau nach Ihren Vorstellungen
            anzupassen. Unser erfahrenes Team arbeitet eng mit Ihnen zusammen, um Ihre spezifischen Anforderungen und
            Wünsche zu verstehen und umzusetzen. <br><br> Egal, ob es sich um die Integration zusätzlicher Themengebiete, die
            Anpassung der Benutzeroberfläche oder die Erweiterung der Funktionalitäten handelt – wir bieten Ihnen
            maßgeschneiderte Lösungen. <br><br>Mit unserer Expertise in Angular und Flask können wir den ChatBot optimal auf
            Ihre Bedürfnisse zuschneiden und sicherstellen, dass er nahtlos in Ihre bestehende Infrastruktur integriert
            wird. <br><br>Lassen Sie uns gemeinsam eine Lernhilfe entwickeln, die perfekt zu Ihnen passt und Ihren Schülern den
            größtmöglichen Nutzen bietet!</p>
    </div>