<div id="about">
    <p><strong>DDM</strong> Die neue Lernhilfe für Schulen! Mit unserem innovativen Chatbot revolutionieren wir den
        Lernprozess.<br><br> DDM
        steht
        für 'Daniel David Michael' und ist eine Anspielung an LLM (Large Language Model). Er bietet Schülern eine
        interaktive Möglichkeit, ihre Lernziele zu
        erreichen. Egal ob Hausaufgaben, Nachhilfe oder Verständnisfragen – unser Chatbot ist rund um die Uhr verfügbar,
        um
        individuelle Unterstützung zu bieten. Durch künstliche Intelligenz lernt DDM stetig dazu und passt sich den
        Bedürfnissen der Schüler an. <br><br>Dank unserer benutzerfreundlichen Plattform wird Lernen effektiver und
        zugänglicher
        denn je zuvor. Entdecke noch heute die Zukunft des Lernens mit <strong>DDM</strong>!
    </p>
</div>